body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: brown;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: antiquewhite ;
    margin-bottom: 20px;
}
.container a h2{
    color :burlywood;
    text-decoration: none;
}

#books-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-card {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;   
    width: calc(33.333% - 60px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-card img {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
}

.book-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: brown;
}

.book-card p {
    font-size: 0.9em;
    color: #6c757d;
    text-align: center;
}

.book-card .buttons {
    margin-top: auto;
    display: flex;
    gap: 10px;
}

.book-card button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .book-card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 576px) {
    .book-card {
        width: 100%;
    }
}
